/* Navbar */

.navbar {
    z-index: 1;
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111;
  }
  
  .navItem {
    position: relative;
    color: #ffffff !important;
    width: 100%;
    height: 3rem;
  }
  
  .navItem.active .navItemText {
    /* color: #d61a1f; */
    color: #3366ff;
    transition: color 50ms;
  }
  
  .navItemText:hover {
    /* color: #d61a1f; */
    color: #3366ff;
  }
  
  .navItemText {
    font-size: 1vw;
    color: #fff;
  }