.App {
  text-align: center;
  width: 100%;
}

a {
  color: black;
}

a:hover {
  color: grey;
}

/* Navbar */

.navbar {
  z-index: 1;
  top: 0; /* Stay at the top */
  left: 0;
  background-color: black;
}

.navItem {
  color: #ffffff !important;
}

/* Thumbnail */

.project {
  position: relative;
  background-color: white;
  /* border-radius: 4px; */
  border: 0.1px solid black;
  /* box-shadow: 0.1rem 0.1rem #888888; */
  transition: box-shadow 0.1s;
}

.project:hover {
  box-shadow: 0.3rem 0.3rem #888888;
  transition: box-shadow 0.1s;
}

.project-image {
  height: 20rem;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.project-text {
  position: absolute;
  background: #ffffff;
  left: 1rem;
  color: black;
}

.project-title {
  bottom: 3rem;
}

.project-category {
  bottom: 1rem;
}

