body {
  margin: 0;
  font-family: var(--site-sans);
  background: var(--site-bg);
  color: var(--site-ink);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
